

{% extends "Portfolio/base.html" %}

{% block content %}



      <div class="text-center container">
     
        <div class="text-center" style="background-image: linear-gradient(#6ea0cd, #3030ff);box-shadow:30px 30px 10px lightblue;border-radius:60%">
          <div><h2  style="color:white">Yonela Sitshaka</h2></div>
          <div class="text-end">
            {% load static %}
           
          </div>
          
        <img width="inherit" height=400px src="{% static 'Portfolio/MyProfile.jpg'%}" style="border-radius:50%; border:solid 3px; black;box-shadow: 15px 15px 5px lightblue;"/>
      
      </div>
      <hr/>
      
      <div style="">
              <div class="text-center"><h2> Projects</h2></div>  
        <div class="" style="display: grid;  grid-template-columns: auto auto auto;padding: 10px;">
            {% for item in project %}

                <div class=" text-center container grid-item" style="padding: 20px;border:solid 2px black;height:500px;overflow:hidden;overflow:scroll;overflow-x:scroll;overflow-y:auto;">
                    <div id="projectTitle">
                        <h3>{{item.title}}</h3>
                    </div>
                    <hr/>
                    <br/>
                    <div id="projectImage" class="container" style="max-with:500px">
                        <img min-with="500px" height="200px " width="inherit" style="position:center; width:100%" src="{{item.image.url}}"/>
                    </div>
                    <div id="projectdescription">
                        <p>
                            <h3>Description</h3>
                            <hr/>
                            {{item.description}}
                        </p>
                    </div>
                    {% if item.url %}
                    
                    <div>
                        <h4>URL</h4>
                    </div>
                    <div>
                        <p>{{item.url}}</p>
                    </div>
                     {% endif %}
                </div>

                
                
                </div>
                


            {% endfor %}
      </div>
    </div>
 {% endblock %}