<!doctype html>
<html lang="ar" >
  <head>
   
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
   
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.rtl.min.css" integrity="sha384-+4j30LffJ4tgIMrq9CwHvn0NjEvmuDCOfk6Rpg2xg7zgOxWWtLtozDEEVvBPgHqE" crossorigin="anonymous">

    <title>
        
    </title>
    <style>

        #projectImage{
            width:300px;
            hight:150px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand btn btn-primary btn-default" style="padding:1rem; border-radius:50%; color:white" href="#"><b>Profile.com</b></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown link
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
        <div class="container-fluid">
          {% load static %}
         
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <div class="text-center container">
     
        <div class="text-center" style="background-image: linear-gradient(#6ea0cd, #3030ff);box-shadow:30px 30px 10px lightblue;border-radius:60%">
          <div><h2  style="color:white">Yonela Sitshaka</h2></div>
          <div class="text-end">
            <a class="navbar-brand btn btn-primary btn-default" style="color:white"  href="{% static 'Portfolio/YonelaSitshakaResume2022.pdf'%}"> Download Resume</a>
          </div>
       
        <img width="inherit" height=400px src="{% static 'Portfolio/MyProfile.jpg'%}" style="border-radius:50%; border:solid 3px; black;box-shadow: 15px 15px 5px lightblue;"/>
      
      </div>
      <hr/>

      <div style="">
              <div class="text-center"><h2> Projects</h2></div>  
        <div class="" style="display: grid;  grid-template-columns: auto auto auto;padding: 10px;">
            {% for item in project %}

                <div class=" text-center container grid-item" style="padding: 20px;border:solid 2px black;height:500px;overflow:hidden;overflow:scroll;overflow-x:scroll;overflow-y:auto;">
                    <div id="projectTitle">
                        <h3>{{item.title}}</h3>
                    </div>
                    <hr/>
                    <br/>
                    <div id="projectImage" class="container" style="max-with:500px">
                        <img min-with="500px" height="200px " width="inherit" style="position:center; width:100%" src="{{item.image.url}}"/>
                    </div>
                    <div id="projectdescription">
                        <p>
                            <h3>Description</h3>
                            <hr/>
                            {{item.description}}
                        </p>
                    </div>
                    {% if item.url %}
                    
                    <div>
                        <h4>URL</h4>
                    </div>
                    <div>
                        <p>{{item.url}}</p>
                    </div>
                     {% endif %}
                </div>

                
                
                </div>
                


            {% endfor %}
      </div>
    </div>
  </body>
</html>